// main: ./vnv.less

.vnv.sheet.characterSheet {
    // Default size for the character sheet, can be overridden by the user.
    .sheet {
        width: 580px;
        height: 580px;
    };

    // Default size for the second sheet, can be overridden by the user.
    .sheet2 {
        width: 480px;
        height: 480px;
    }

}