<div class="charSheetBox">

    <div class="form-group subMain">
        <div class="menuhrbox" style="width: 25px;"><hr class="menuhr"></div>
        Combat Statistic
        <div class="menuhrbox" style="flex: 1;"><hr class="menuhr"></div>
    </div>

    <div class="charcombatstatbox">
        <div class="charcombatinnerstatbox">
            <div class="charcombatstat" style="left: 0px; padding-top: 9px;"><span class="charResHead">Speed</span></br><span class="charcombatstatvalue">26</span></div>
            <div class="charcombatstat" style="left: 71px; padding-top: 9px;"><span class="charResHead">Evasion</span></br><span class="charcombatstatvalue">26</span></div>
            <div class="charcombatstat" style="left: 144px;"><span class="charResHead">Crit</br>Chance</span></br><span class="charcombatstatvalue">26</span></div>
            <div class="charcombatstat" style="left: 215px;"><span class="charResHead">Crit</br>DMG Mod</span></br><span class="charcombatstatvalue">26</span></div>
        </div>   
    </div>
</div>