<div class="charSheetBox">

    <div class="form-group subMain">
        <div class="menuhrbox" style="width: 25px;"><hr class="menuhr"></div>
        Skills
        <div class="menuhrbox" style="flex: 1;"><hr class="menuhr"></div>
    </div>
</div>