<div class="charSheetBox">

    <div class="form-group subMain">
        <div class="menuhrbox" style="width: 25px;"><hr class="menuhr"></div>
        Background
        <div class="menuhrbox" style="flex: 1;"><hr class="menuhr"></div>
    </div>

    <div class="charinputfullbox">
        <div class="charinputlbl">Appearance</div>
        <div class="charinputbox"><textarea class="charinputfull" type="text"></textarea></div>
    </div>

    <div class="charinputfullbox">
        <div class="charinputlbl">Background History</div>
        <div class="charinputbox"><textarea class="charinputfull" type="text"></textarea></div>
    </div>

    <div class="charinputfullbox">
        <div class="charinputlbl">Goals</div>
        <div class="charinputbox"><textarea class="charinputfull" type="text"></textarea></div>
    </div>

    <div class="form-group subMain">
        <div class="menuhrbox" style="width: 25px;"><hr class="menuhr"></div>
        Traits
        <div class="menuhrbox" style="flex: 1;"><hr class="menuhr"></div>
    </div>

    <div class="charinputhalfbox">
        <div class="charinputlbl">Virtues</div>
        <div class="chartraitbox">
            <div class="charvirtubox"><div class="traiticon fa-regular fa-star"></div>Fortunate</div>
            <div class="charvirtubox"><div class="traiticon fa-regular fa-star"></div>Good Looking</div>
        </div>
    </div>

    <div class="charinputhalfbox">
        <div class="charinputlbl">Flaws</div>
        <div class="chartraitbox">
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Fortunate</div>
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Good Looking</div>
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Good Looking</div>
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Good Looking</div>
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Good Looking</div>
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Good Looking</div>
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Good Looking</div>
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Good Looking</div>
            <div class="charflawbox"><div class="traiticon fa-regular fa-circle-dot"></div>Good Looking</div>
        </div>
    </div>

</div>