<div class="vnv-character-sheet sheet actor character">
  <header class="sheet-header">
    <h1>{{actor.name}}</h1>
  </header>

  <section class="sheet-body">
    {{> "systems/vnv/templates/partials/character-sheet-character.hbs"}}
    {{> "systems/vnv/templates/partials/character-sheet-background.hbs"}}
    {{> "systems/vnv/templates/partials/character-sheet-skills.hbs"}}
    {{> "systems/vnv/templates/partials/character-sheet-combat.hbs"}}
    {{> "systems/vnv/templates/partials/character-sheet-progression.hbs"}}
  </section>

</div>
